div#visual{
  width:100%;
  height:940px;
  background:url('/public/images/main/visual.jpg');  
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.scroll{
  width:114px;
  height:auto;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
}

div.scroll>p{
  font:400 1em 'Noto Sans KR';
  color:#F9EEE7;
  margin-bottom:10px;
}

div.scroll>img{
  display:block;
  margin: 0 auto;
}


/* 980px 미디어쿼리 시작 */
@media screen and (max-width: 980px){

div#visual{
  height:700px;  
}

div.scroll{
  display:none;
}

}

